@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Advertisement manage system</h1>
    <p class="lead">this system is suitable for student,landlord and university officer</p>
    <p>For testing, you could use following accouts</p>
    <ul>
        <li>Account:officer@soton.ac.uk Password:1234Qwer!</li>
        <li>Account:landlord1@soton.ac.uk Password:1234Qwer!</li>
        <li>Account:landlord2@soton.ac.uk Password:1234Qwer!</li>
        <li>Account:student@soton.ac.uk Password:1234Qwer!</li>
    </ul>
    <p>You could also create your own account with one of the three roles</p>
    <ul>
        <li>officer</li>
        <li>landlord</li>
        <li>student</li>
        </ul>

    <a href="/Account/login" class="btn btn-primary btn-lg">Login</a>
    <a href="/Account/register" class="btn btn-primary btn-lg">Register</a>
</div>

